html, body{
  height: 100%;
}

.menu-item a{
  font-weight: bold;
  text-transform: uppercase;
}

#home{
  background-size: cover;
  background-position: center;
}

.responsive-long-video {
  width: 100%;
  padding-top: 178%;
  position: relative;
}
.responsive-long-video .video-container{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.responsive-long-video iframe{
  width: 100%;
  height: 100%;
}